@charset "UTF-8";

/* --------------------------------------------------
 * layout grid
 * -------------------------------------------------- */

.l-wrap {
	position: relative;
	max-width: 1160px;
	margin: 0 auto;
}

.l-board {
	text-align: center;
}

