@charset "UTF-8";
.is-hidden {
  display: none; }

.btn {
  display: inline-block;
  padding: 15px 45px;
  border: 1px solid #999;
  color: #424242;
  font-size: 16px;
  box-sizing: border-box; }

.h-1 {
  font-size: 2em;
  text-align: center;
  color: #191919; }
  .h-1:after {
    content: "";
    display: block;
    width: 30px;
    margin: 10px auto;
    border-bottom: 1px solid #444; }
  @media screen and (min-width: 768px) {
    .h-1 {
      font-size: 3.4em; } }

.content:after {
  content: "";
  position: absolute;
  bottom: -14px;
  width: 100%;
  height: 14px; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./../ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../fonts/slick.eot");
  src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* --------------------------------------------------
* base styles
* -------------------------------------------------- */
html {
  font-size: 62.5%; }

body {
  padding: 0;
  font-size: 1em;
  line-height: 1.5;
  color: #727272; }

a {
  color: #727272;
  text-decoration: none; }

a:hover,
a:active {
  text-decoration: underline; }

blockquote {
  margin: 1em 40px; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

ul, ol, dl,
dt, dd {
  margin: 0;
  padding: 0; }

ul, ol, li {
  list-style: none; }

i, em, address {
  font-style: normal; }

figure, form {
  margin: 0; }

fieldset {
  margin: 0;
  padding: 0;
  border: 0 none;
  vertical-align: top; }

label {
  cursor: pointer; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button {
  -webkit-appearance: none;
  box-sizing: content-box;
  padding: .4em 1em;
  border: 0 none;
  background: transparent;
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  vertical-align: middle; }

input[type="search"] {
  -webkit-appearance: none;
  border-radius: 0; }

textarea {
  vertical-align: top;
  resize: vertical; }

input:invalid,
textarea:invalid {
  background-color: #f6f6f6; }

table {
  width: 100%;
  empty-cells: show; }

td {
  vertical-align: middle; }

select {
  vertical-align: middle; }

::-moz-selection {
  background: #221f1f;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #221f1f;
  color: #fff;
  text-shadow: none; }

::-webkit-input-placeholder {
  color: #ccc; }

:-moz-placeholder {
  color: #ccc; }

input::-webkit-input-placeholder {
  color: #ccc; }

textarea::-webkit-input-placeholder {
  color: #ccc; }

/* base layout
-------------------------------------------------- */
body,
input,
textarea,
select,
button {
  font-family: "NanumGothic", sans-serif; }

html {
  background-color: #fff; }

body {
  min-width: 320px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal; }

p:first-child {
  margin-top: 0; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  -ms-interpolation-mode: bicubic; }

em {
  color: #221f1f; }

/* Skip navigation
-------------------------------------------------- */
#skipnav {
  position: absolute;
  left: -100%;
  color: #fff;
  background: #555;
  font-size: 1.6em; }

#skipnav:focus {
  display: block;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 29999;
  padding: 20px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle; }

/* Helper classes
-------------------------------------------------- */
.hidden {
  display: none; }

.blind {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px); }

/*clearfix*/
.clearfix:before {
  content: "";
  display: block; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* --------------------------------------------------
 * layout grid
 * -------------------------------------------------- */
.l-wrap {
  position: relative;
  max-width: 1160px;
  margin: 0 auto; }

.l-board {
  text-align: center; }

/* header
-------------------------------------------------- */
.header {
  position: relative; }

.logo {
  padding: 10px 0;
  text-align: center; }
  .logo img {
    width: 50%;
    max-width: 200px; }

.menu-toggle {
  position: absolute;
  left: 20px;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  padding: 0; }
  @media screen and (min-width: 1180px) {
    .menu-toggle {
      display: none; } }

.gnb {
  zoom: 1;
  display: none;
  text-align: center; }
  .gnb:before {
    content: '';
    display: block; }
  .gnb:after {
    content: '';
    display: table;
    clear: both; }
  .gnb li {
    position: relative;
    float: left;
    width: 20%;
    font-weight: bold;
    font-size: 1.6em; }
    .gnb li a {
      display: block;
      padding: 15px 0;
      color: #221f1f;
      text-decoration: none; }
    .gnb li:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      width: 0%;
      height: 3px;
      margin: auto;
      background: #221f1f;
      -webkit-transition: 0.2s all ease-in-out;
      -o-transition: 0.2s all ease-in-out;
      transition: 0.2s all ease-in-out; }
    .gnb li:hover:after {
      width: 100%; }
    .gnb li.is-current:after {
      width: 100%; }
  @media screen and (min-width: 1180px) {
    .gnb {
      display: block; } }

.mb-gnb {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }
  .mb-gnb.is-disable {
    display: none; }
  .mb-gnb-bg {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000;
    opacity: 0.8; }
  .mb-gnb-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    height: 100%;
    width: 200px;
    padding: 0 10px;
    font-size: 1.5em;
    background: #fff; }
    .mb-gnb-item span {
      padding: 10px;
      background: #fff; }
    .mb-gnb-item a {
      display: block;
      padding: 15px;
      color: #444; }
      .mb-gnb-item a:hover {
        text-decoration: none; }
      .mb-gnb-item a + a {
        border-top: 1px solid #ddd; }

/* footer
-------------------------------------------------- */
.footer {
  margin-top: 15px;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  background: #444; }
  @media screen and (min-width: 1180px) {
    .footer {
      font-size: 1.25em; } }

html,
body {
  position: relative;
  height: 100%; }

.wrap {
  height: 100%; }

.l-ctbody {
  padding: 15px;
  padding-bottom: 0;
  margin: 0 auto;
  color: #444; }

.content {
  position: relative; }
  .content-item a {
    display: block; }
    .content-item a img {
      width: 100%; }
  .content-item + .content-item {
    margin-top: 15px; }
  .content-item + .content-item:before {
    content: "";
    display: block;
    max-width: 45%;
    margin: 0 auto 15px;
    border-top: 2px solid #444; }
  @media screen and (min-width: 480px) {
    .content {
      overflow: hidden;
      margin-left: -15px; }
      .content-item {
        float: left;
        width: 50%; }
        .content-item a {
          padding: 15px 0 0 15px; }
      .content-item + .content-item {
        margin-top: 0; }
      .content-item + .content-item:before {
        content: none; } }

.call-btn {
  margin-top: 15px;
  padding: 5px 20px;
  text-align: center;
  background: #444; }
  .call-btn a {
    display: block; }
  @media screen and (min-width: 768px) {
    .call-btn {
      display: none; } }

.sns {
  zoom: 1;
  margin: 30px 0;
  padding: 15px 0;
  color: #221f1f; }
  .sns:before {
    content: '';
    display: block; }
  .sns:after {
    content: '';
    display: table;
    clear: both; }
  .sns .h2 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center; }
    .sns .h2:after {
      content: "";
      display: block;
      width: 30px;
      margin: 10px auto;
      border-bottom: 1px solid #444; }
  .sns-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 25%;
    padding: 10px;
    text-align: center; }
  .sns-item-brands {
    display: none;
    margin-top: 15px;
    font-size: 1.3em; }
  .sns a {
    display: inline-block; }
    .sns a img {
      max-width: 45px; }
  @media screen and (min-width: 768px) {
    .sns .h2 {
      font-size: 2.3em; }
    .sns a {
      padding-top: 20px; }
      .sns a img {
        max-width: 75px; }
    .sns-item-brands {
      display: block; } }

.board {
  overflow: hidden;
  position: relative;
  padding: 25px 10px; }
  .board-list {
    position: relative;
    width: 100%;
    text-align: left;
    letter-spacing: -.05em; }
    .board-list + .board-list {
      margin-top: 40px; }
    @media screen and (min-width: 768px) {
      .board-list {
        float: left;
        width: 50%;
        margin-right: 50%; } }
  @media screen and (min-width: 768px) {
    .board-list.list-right {
      margin-left: 50%; } }
  .board-list-cell {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
    font-size: 15px;
    background: #fff;
    box-shadow: 0 2px 2px #c1baae;
    background: url("../images/b_after/pattern.jpg") repeat; }
    @media screen and (min-width: 768px) {
      .board-list-cell {
        padding: 30px;
        margin-right: 70px; } }
  @media screen and (min-width: 768px) {
    .board-list.list-right .board-list-cell {
      margin: 0 0 0 70px; } }
  .board .writer {
    display: block;
    margin: 20px 0 15px;
    padding-bottom: 15px;
    color: #6a3433;
    font-size: 14px;
    border-bottom: 1px solid #ccc; }
  .board .writer strong {
    margin-right: 3px; }
  .board .writer b {
    margin-right: -3px; }
  .board-list .deco {
    display: none;
    position: absolute;
    top: 30px;
    right: -4px;
    width: 8px;
    height: 30px;
    margin-top: -3px;
    background: #f5efe3 url("../images/b_after/pattern.jpg") no-repeat; }
    @media screen and (min-width: 768px) {
      .board-list .deco {
        display: block; } }
  .board-list.list-right .deco {
    left: -4px; }
  .board-list .deco:before {
    content: "";
    display: block;
    margin: 5px 0;
    height: 20px;
    background: #ca8b5d; }
    @media screen and (min-width: 768px) {
      .board-list .deco:before {
        content: "";
        display: block;
        margin: 5px 0;
        height: 20px;
        background: #ca8b5d; } }
  .board-list.list-right .board-list-cell:before {
    display: none;
    content: "";
    position: absolute;
    left: 51px;
    top: 30px;
    width: 19px;
    height: 24px;
    background: url("../images/b_after/arrow/left.png") no-repeat; }
    @media screen and (min-width: 768px) {
      .board-list.list-right .board-list-cell:before {
        display: inline-block; } }
  .board-list .board-list-cell:after {
    display: none;
    content: "";
    position: absolute;
    right: 51px;
    top: 30px;
    width: 19px;
    height: 24px;
    background: url("../images/b_after/arrow/right.png") no-repeat; }
    @media screen and (min-width: 768px) {
      .board-list .board-list-cell:after {
        display: inline-block; } }
  .board-list.list-right .board-list-cell:after {
    content: none; }
  @media screen and (min-width: 480px) {
    .board {
      margin-top: 60px;
      padding-left: 70px;
      padding-right: 70px; } }
  @media screen and (min-width: 768px) {
    .board {
      margin-top: 60px;
      padding: 70px 30px 50px; } }

.board:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 8px;
  height: 100%;
  margin-left: -4px;
  background: #aba19c; }

/*--------------------------------
	program
--------------------------------*/
.program .p {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  font-size: 1.4em;
  line-height: 1.7em;
  text-align: center;
  background: #efefef; }

.program .content {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 20px;
  border: 1px solid #ccc;
  margin-left: 0;
  color: #6c6c6c;
  text-align: center; }
  .program .content:after {
    content: none; }
  .program .content img {
    max-width: 45%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
  .program .content .h3 {
    margin: 20px 0;
    font-weight: bold;
    font-size: 1.3em; }
  .program .content .desc {
    font-size: 1.2em;
    line-height: 2em;
    text-align: left; }

.program .content-step + .content-step {
  border-top: 1px dotted #ccc; }
  .program .content-step + .content-step dt {
    padding: 15px 0; }

@media screen and (min-width: 768px) {
  .program .p {
    font-size: 1.5em; }
    .program .p span {
      display: block; }
  .program .content {
    border: none;
    text-align: left; }
    .program .content-step {
      zoom: 1;
      padding: 30px; }
      .program .content-step:before {
        content: '';
        display: block; }
      .program .content-step:after {
        content: '';
        display: table;
        clear: both; }
    .program .content dt,
    .program .content dd {
      display: inline-block;
      float: left; }
    .program .content dt {
      width: 25%;
      text-align: center; }
      .program .content dt img {
        max-width: none;
        width: 100%;
        vertical-align: middle; }
    .program .content dd {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      position: relative;
      width: 75%;
      padding-left: 50px; }
    .program .content .h3 {
      margin-top: 0;
      font-size: 1.6em; }
    .program .content .desc {
      font-size: 1.5em; }
  .program .content-step + .content-step dt {
    padding: 0; } }

/*# sourceMappingURL=style.css.map */