@charset "UTF-8";
/// --------------------------------------------------
/// _variables: global variables
/// --------------------------------------------------

// fonts
// --------------------------------------------------
$font-default: 'NanumGothic', sans-serif;
$sans: $font-default;

// color guide
// --------------------------------------------------
$white: #fff;
$fog: #f6f6f6;
$ash: #e5e5e5;

$silver: #ccc;

$gray: #727272;
$gray-dark: #555;

$brand: #221f1f;